/* .first-website-image{
    width: 30px;
}

h1{
    font-size: 50px;
}

#first-paragraph{
    color: red;
} */
*{
    box-sizing: border-box;
}

.box-button{
    background-color: yellow;
    font-size: 40px;
    text-decoration: none;
    border: 1px solid black;
    padding: 20px;
    margin: 40px;
}